/*p{
	font-family: Viaoda Libre, cursive;
	color: #F9F9F9;
	font-size: 35px;
	margin-left:60px;
	margin-top: 40px;
}*/
/*.dropdown-menu a:hover{
	background-color: #000000;
}


 .collapse {
	 font-size: 20px;
	 margin-top: -70px;
	 
} */
/*.navigation{
	text-align: center;
	margin-top: -65px;
}

a{
	text-decoration: none;
	color: #ffffff;
	font-size: 19px;
	margin-left: 40px;
	font-family: Arvo, serif;
}
.active{
	border-bottom: 2px double #868686;
}

.fa {
	margin-left: 10px;
}

.sub-menu .gp{
	border: none;
	outline: none;
	color: #FFFFFF;
	font-size: 20px;
	background-color: inherit;
	font-family: Arvo, serif;
	margin: 0;
}
.sub-menu{
	margin-top: -23px;
	margin-left: 360px;
}
.navigation .a:hover, .sub-menu:hover .gp{
	color: #706C6C;
}

.drop{
	display: none;
	position: absolute;
	margin-left: 450px;
}

.drop a{
	 display: block;
 	 color: white;
 	 padding-top:10px;
     text-decoration: none;
}

.sub-menu:hover .drop {
  display: block;
}

.drop a:hover{
	color: #828282;
}

.navigation2{
	text-align: center;
	margin-left: 900px;
	margin-top: -25px;
}*/

/*.photo-content{
	background-color: #E7E7E7;
	width: 700px;
	height: 500px;
	/*margin: 140px 140px;*/
	/*margin-left: 20px;
	margin-top: 350px;
	position: relative;
	box-shadow: 2px 2px 6px 2px gray;
	
}

.photo-content p{
	font-family: Josefin Slab, serif;
	padding-left: 270px;
	padding-top: 80px;
	font-size:30px;
	color: #000000;
}*/

/*.img1 img{
	height: 880px;
	width: 700px;
	margin-top: -700px;
	margin-left: 620px;
	z-index: -1;
	box-shadow: 2px 2px 6px 2px gray;
}*/


							/* ------------------------------Home-------------------------------------*/


body{
	background-image: url("background.jpg");
	position: static;
	background-size: cover;
	box-sizing: border-box;
	background-position: center;
}

body {
	background: #0F0F0F;
	color: #A6A5A5;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

.active{
	border-bottom: 3px double #868686;
}

a:hover{
	text-decoration: none;
	color: #8A8A8A;
}

#header{
	color: #FFFFFF;
}
#menu{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li{
	display: inline-block;
	font-size: 18px;
}
#menu li a{
	display: block;
	color: #FFFFFF;
	padding: 15px 10px;
}

.photo-content{
	width: 700px;
	height: 460px;
	/*margin: 140px 140px;*/
	margin-left: 330px;
	margin-top: 80px;
	position: relative;
	box-shadow: 1px 1px 2px 1px gray;
	border-radius: 30px;
	padding-top: 40px;
}

.photo-content h4{
	font-family: Viaoda Libre, cursive;
	text-align: center;
	margin-top: 50px;
	font-size: 60px;
}


/* KEYFRAMES */



@keyframes animateBubble {
    0% {
        margin-top: 750px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: -5%;
	top: 5%;
	transform: scale(0.6);
}

.x2 {
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 5%;
	top: 80%;
	transform: scale(0.4);
}

.x3 {
  	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 10%;
	top: 40%;
	transform: scale(0.7);
}

.x4 {
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	left: 20%;
	top: 0;
	transform: scale(0.3);
}

.x5 {
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 30%;
	top: 50%;
	transform: scale(0.5);
}

.x6 {
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 50%;
	top: 0;
	transform: scale(0.8);
}

.x7 {
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 65%;
	top: 70%;
	transform: scale(0.4);
}

.x8 {
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	left: 80%;
	top: 10%;
	transform: scale(0.3);
}

.x9 {
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 90%;
	top: 50%;
	transform: scale(0.6);
}

.x10 {
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: 80%;
	top: 80%;
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
   	border-radius:50%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    height: 200px;
	position: absolute;
	width: 200px;
	opacity: 0.4;
}

.bubble:after {
   
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    border-radius: 50%;
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}


							/*-----------------------------------graphic design------------------------------*/

.btn{
	color: #EFEFEF;
}
#section2 img{
	float: right;
}
#section2 button{
	width: 190px;
}
							/*------------------------------illustrator-------------------------------------*/


/*.container-1-ai{
	margin-top: 180px;
	margin-left: 50px;
}

.container-1-ai img{
	height: 800px;
	width: 600px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-1-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
}

.container-2-ai{
	margin-top: -800px;
	margin-left: 880px;
}

.container-2-ai img{
	height: 400px;
	width: 400px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-2-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-3-ai{
	margin-top: 20px;
	margin-left: 880px;
}

.container-3-ai img{
	height: 380px;
	width: 400px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-3-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
}

.container-4-ai{
	margin-top: 50px;
	margin-left: 50px;
}

.container-4-ai img{
	height: 500px;
	width: 600px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-4-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-5-ai{
	margin-top: 50px;
	margin-left: 100px;
}

.container-5-ai img{
	height: 500px;
	width: 500px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-5-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-6-ai{
	margin-top: -1050px;
	margin-left: 820px;
}

.container-6-ai img{
	height: 850px;
	width: 500px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-6-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-7-ai{
	margin-top: 50px;
	margin-left: 820px;
}

.container-7-ai img{
	height: 350px;
	width: 500px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-7-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-8-ai{
	margin-top: -150px;
	margin-left: 50px;
}

.container-8-ai img{
	height: 850px;
	width: 600px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-8-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-9-ai{
	margin-top: -650px;
	margin-left: 820px;
}

.container-9-ai img{
	height: 350px;
	width: 500px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-9-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-10-ai{
	margin-top: 340px;
	margin-left: 50px;
}

.container-10-ai img{
	height: 350px;
	width: 600px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-10-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-11-ai{
	margin-top: -640px;
	margin-left: 820px;
}

.container-11-ai img{
	height: 680px;
	width: 500px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-11-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-12-ai{
	margin-top: 20px;
	margin-left: 50px;
}

.container-12-ai img{
	height: 350px;
	width: 600px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-12-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}

.container-13-ai{
	margin-top: -350px;
	margin-left: 820px;
}

.container-13-ai img{
	height: 350px;
	width: 500px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-13-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
}

.container-14-ai{
	margin-top: 40px;
	margin-left: 350px;
}

.container-14-ai img{
	height: 350px;
	width: 600px;
	opacity: 0.6;
	transition: 0.6s ease;
	box-shadow: 2px 2px 6px 2px gray;
}

.container-14-ai img:hover{
	opacity: 1;
	transform :scale(1.05); 
	
}*/


#hading-ai h1{
	font-size: 70px;
	padding-top: 120px;
	padding-left: 40px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
}


.nextbtn{
	margin-left: 5px;
	margin-top: 110px;
}

.backbtn{
	margin-top: -70px;
	margin-left: 1160px;
}

							/* ------------------------------Photoshop-------------------------------------*/


#hading-ps h1{
	font-size: 80px;
	padding-top: 100px;
	padding-left: 40px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
}

.card-columns{
	margin-top: 100px;
}

.card{
	transition: 0.4s ease;
}
.card:hover{
	transition: 0.6s ease;
	transform :scale(0.96);
	box-shadow: 2px 2px 6px 2px gray;
}

.footer-social-fb-ps{
	margin-top: 70px;
	margin-left: -120px;
	padding-left: 150px;
}
.footer-social-fb-ps h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
	
}

.footer-social-fb-ps a{
	text-decoration: none;
}

.footer-social-fb-ps h5:hover{
	color:#1B14B8;
}

.footer-social-twit-ps{
	margin-top: -42px;
	margin-left: 240px;
	
}
.footer-social-twit-ps h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-twit-ps a{
	text-decoration: none;
}
.footer-social-twit-ps h5:hover{
	color: #5fa7dc;
}

.footer-social-insta-ps{
	margin-top: -45px;
	margin-left: 420px;
	
}
.footer-social-insta-ps h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -35px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
} 

.footer-social-insta-ps a{
	text-decoration: none;
}

.footer-social-insta-ps h5:hover{
	color: #b4458a;
}

.footer-ps{
	margin-left: 990px;
	margin-top: -30px;
}

				/* ------------------------------indesign-------------------------------------*/


.hading-id p{
	font-size: 80px;
	padding-top: 100px;
	padding-left: 40px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
}


				/* ------------------------------coreldraw-------------------------------------*/


#hading-cd h1{
	font-size: 80px;
	padding-top: 100px;
	padding-left: 40px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;

}


.footer-social-fb-ps{
	margin-top: 70px;
	margin-left: -120px;
	padding-left: 150px;
}
.footer-social-fb-ps h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
	
}

.footer-social-fb-ps a{
	text-decoration: none;
}

.footer-social-fb-ps h5:hover{
	color:#1B14B8;
	
}

.footer-social-twit-ps{
	margin-top: -42px;
	margin-left: 240px;
	
}
.footer-social-twit-ps h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-twit-ps a{
	text-decoration: none;
}
.footer-social-twit-ps h5:hover{
	color: #5fa7dc;
}

.footer-social-insta-ps{
	margin-top: -45px;
	margin-left: 420px;
	
}
.footer-social-insta-ps h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -35px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
} 

.footer-social-insta-ps a{
	text-decoration: none;
}

.footer-social-insta-ps h5:hover{
	color: #b4458a;
}

.footer-ps{
	margin-left: 990px;
	margin-top: -30px;
}




					/* ------------------------------Web design-------------------------------------*/


#hading-web h1{
	font-size: 80px;
	padding-top: 80px;
	padding-left: 40px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
}



						/* ------------------------------About-------------------------------------*/


.hading-about {
	margin-top: 100px;
}

#hading-about h1{
	font-size: 80px;
	padding-top: 90px;
	padding-left: 40px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
	
}

.contaner{
	width: 1300px;
	margin-left: 50px;
}

.aboutcontent{
	background-color: #FFFFFF;
	width: 632px;
	height: 680px;
	margin-top: 30px;
	
}

.aboutphoto{
	margin-left: 632px;
	width: 650px;
	height: 680px;
	margin-top: -680px;
}

							/* ------------------------------Contact-------------------------------------*/
					

.hading-contact {
	margin-top: 110px;
	margin-left: 20px;
}

#hading-contact h1{
	font-size: 60px;
	padding-top:80px;
	padding-left: 60px;
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px lightgray ;
	color:#EFEFEF;
	font-family: Viaoda Libre, cursive;
}

							


			/* ------------------------------form cssold (contect page)-------------------------------------*/


/*.btn{
	display: flex;
	margin-top: 60px;
	margin-left: 110px;
	border: 2px solid #1D486F;
	height: 30px;
	width: 300px;
	padding-top: 5px;
	padding-left: 180px;
	border-radius: 5px;
}

.btn a{
	color: #000000;
}

.btn a:hover{
	color: #DFDFDF;
}

.btn a:nth-child(1)
{
	filter: hue-rotate(80deg);
}

.btn a::before{
	content: '';
	position: absolute;
	transform: translateY(-50%);
	left: -240px;
	top: 40%;
	width: 20px;
	height: 2px;
	background: #1D486F;
	box-shadow: 5px -8px 0 #1D486F,
				5px 8px 0 #1D486F;
	transition: width 0.7s ,left 0.7s,height 0.7s;
	box-shadow: 0.5s;
	transition-delay: 1s,0.5s,0s,0s;
}

.btn a:hover::before{
	width: 60%;
	height: 120%;
	left: -2px;
	box-shadow: 5px 0 0 #1D486F,
				5px 0 0 #1D486F;
	transition-delay: 0s,0.5s,1s,1s;
}

.btn a::after{
	contentafter: '';
	position: absolute;
	transform: translateY(-50%);
	left: -240px;
	top: 40%;
	width: 20px;
	height: 2px;
	background: #1D486F;
	box-shadow: -5px -8px 0 #1D486F,
				-5px 8px 0 #1D486F;
	transition: width 0.7s ,left 0.7s,height 0.7s;
	box-shadow: 0.5s;
	transition-delay: 1s,0.5s,0s,0s;
}

.btn a:hover::after{
	width: 60%;
	height: 120%;
	left: -2px;
	box-shadow: -5px 0 0 #1D486F,
				-5px 0 0 #1D486F;
	transition-delay: 0s,0.5s,1s,1s;
}*/


						/* ------------------------------form css(contect page)-------------------------------------*/



.login-box {
  position: absolute;
  top: 700px;
  left: 350px;
  width: 450px;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.login-box:hover{
	
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}


.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -40px;
  left: 0;
  color: #9CCBF2;
  font-size: 16px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #9CCBF2;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
	margin-left: 120px;
}

.login-box a:hover {
  background: #2565B0;
  color: #fff;
  box-shadow: 0 0 5px #2565B0,
              0 0 25px #2565B0,
              0 0 5px #2565B0,
              0 0 10px #2565B0;
}

							/*------------------------------Button-----------------------------*/


.button{
  color: White; /* button text color */
  background: transparent;
  border: none;
  letter-spacing: 1px;
  padding: 8px 30px; 
  margin: 30px 120px;
  line-height: 2;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.button:before,
.button:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:#2565B0; /* onhover background color */
  z-index: -1;
  transition: all .5s;
  border-radius: 5px;
}

.button:before{
  background-color: #3B3B3B; /* button default background color */
  z-index: -2;
  transform: translate3D(0,0,0);
  border-radius: 5px;
}

.button:hover{
	color: white;
}

.button:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}



.angleleft:after{
  width: 200%;
  transform-origin: 0 bottom;
  transform: translate3D(-50%,0,0) rotate(-50deg);
}

.angleleft:hover:after{
  transform: rotate(0deg);
  transition: all .5s;
}
	

/*.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
} */

				/* ------------------------------details(contect page) footer-------------------------------------*/



.content{
	margin-left: 700px;
	margin-top: 100px;
	font-size: 30px;
	color: #D5D5D5;
	width: 480px;
	height: 590px;
	padding-left: 150px;
	border-left: 1px solid #C8C8C8;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.email{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
	margin-top: 60px;
}

.tel{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 20px;
	margin-top: 60px;
}

.footer-social-fb{
	margin-top: 60px;
	margin-left: -150px;
	padding-left: 150px;
}
.footer-social-fb h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-fb a{
	text-decoration: none;
}

.footer-social-fb h5:hover{
	color:#1B14B8;
}


.footer-social-twit{
	margin-top: -130px;
	margin-left: 250px;
	
}
.footer-social-twit h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-twit a{
	text-decoration: none;
}

.footer-social-twit h5:hover{
	color: #5fa7dc;
}

.footer-social-insta{
	margin-top: 50px;
	margin-left: 100px;
	
}
.footer-social-insta h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -40px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-insta a{
	text-decoration: none;
}

.footer-social-insta h5:hover{
	color: #b4458a;
}


				/* ------------------------------home footer social-------------------------------------*/


.footer-social-fb-home{
	margin-top: 70px;
	margin-left: -120px;
	padding-left: 150px;
}
.footer-social-fb-home h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
	
}

.footer-social-fb-home a{
	text-decoration: none;
}

.footer-social-fb-home h5:hover{
	color:#1B14B8;
	
}


.footer-social-twit-home{
	margin-top: -40px;
	margin-left: 240px;
	
}
.footer-social-twit-home h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-twit-home a{
	text-decoration: none;
}
.footer-social-twit-home h5:hover{
	color: #5fa7dc;
}

.footer-social-insta-home{
	margin-top: -65px;
	margin-left: 420px;
	
}
.footer-social-insta-home h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -35px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
} 

.footer-social-insta-home a{
	text-decoration: none;
}

.footer-social-insta-home h5:hover{
	color: #b4458a;
}

.footer-ai{
	color: white;
	margin-left: 900px;
	margin-top: -10px;
}

					/*---------------------------------illustator---------------------------------*/


.footer-social-fb-ai{
	margin-top: 70px;
	margin-left: -120px;
	padding-left: 150px;
}
.footer-social-fb-ai h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
	
}

.footer-social-fb-ai a{
	text-decoration: none;
}

.footer-social-fb-ai h5:hover{
	color:#1B14B8;
	
}


.footer-social-twit-ai{
	margin-top: -40px;
	margin-left: 240px;
	
}
.footer-social-twit-ai h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-twit-ai a{
	text-decoration: none;
}
.footer-social-twit-ai h5:hover{
	color: #5fa7dc;
}

.footer-social-insta-ai{
	margin-top: -50px;
	margin-left: 420px;
	
}
.footer-social-insta-ai h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -35px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
} 

.footer-social-insta-ai a{
	text-decoration: none;
}

.footer-social-insta-ai h5:hover{
	color: #b4458a;
}


			/* ------------------------------about footer social-------------------------------------*/


/*.footer-social-fb-about{
	margin-top: 90px;
	margin-left: -120px;
	padding-left: 150px;
}
.footer-social-fb-about h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-fb-about a{
	text-decoration: none;
}

.footer-social-fb-about h5:hover{
	color:#1B14B8;
}


.footer-social-twit-about{
	margin-top: -40px;
	margin-left: 240px;
	
}
.footer-social-twit-about h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -30px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-twit-about a{
	text-decoration: none;
}

.footer-social-twit-about h5:hover{
	color: #5fa7dc;
}

.footer-social-insta-about{
	margin-top: -65px;
	margin-left: 420px;
	
}
.footer-social-insta-about h5{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	margin-top: -35px;
	margin-left: -40px;
	padding-left: 100px;
	transition-duration: 2s;
	color: #FBFBFB;
}

.footer-social-insta-about a{
	text-decoration: none;
}

.footer-social-insta-about h5:hover{
	color: #b4458a;
}*/





						


